.detailed__main {
  display: flex;
  align-items: center;
}

.main_slider {
  width: 55%;
}

h3 {
  margin-bottom: 2rem;
}

.main__main_info {
  // display: flex;
  // align-items: center;
}

.description {
  background-color: #E5E5E5;
}