.button {
  background-color: #fdbf70;;
  color: #1d1e25;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-transform: uppercase;
  &:hover,
  &:focus {
    opacity: 0.8;
    transition: all linear 0.5s;
  }
  &:disabled,
  &[disabled]{
    background-color: #cccccc;
    cursor: not-allowed;
}
}