header {
  border-bottom: 1px solid #E5E5E5;;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}

.nav {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
}

.nav li {
  margin-right: max(1.5vw, 5px);
}

nav li:active {
  scale: 0.85;
}

nav li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.nav li:last-child {
  margin-right: 0;
}

.header__title a {
  color: black;
  text-decoration: none;
  font-size: 2rem;
}

.cart {
  position: relative;
  
  & > span {
    position: absolute;
    content: '';
    top: -1em;
    right: -1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eea29a;
    border-radius: 50%;
    width: 1.7em;
    height: 1.7em;
    color: white;
  }
}

@media (min-width: 768px) {
  nav li a:hover {
    color: #247c52;
  }
}

@media screen and (max-width: 400px) {
  header {
    font-size: 12px;
  }

  .header__title a {
    font-size: 18px;
  }
}