.list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2em;
  margin-bottom: 2em;

  @media (max-width: 1280px) {
    & {
      gap: 1.7em;
      margin-bottom: 1.7em;
    }
  }

  @media (max-width: 768px) {
    & {
      gap: 1.4em;
      margin-bottom: 1.4em;
    }
  }
}

.not_found {
  margin-top: 15px;
  font-size: 24px;
}

@media screen and (max-width: 400px) {
  .list {
    margin-left: 15px;
  }

}