.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  @media (max-width: 1280px) {
    & {
      padding: 1.8rem;
      border: 1px solid #ccc;
    }
  }
  
  @media (max-width: 768px) {
    & {
      padding: 1.6rem;
    }
  }
}

.form > * + * {
  margin-top: 1em;
}

.form > .error-message {
  color: red;
}

.password {
  position: relative;
}
.eye {
  position: absolute;
  z-index: 100;
  top: 11px;
  left: 12px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../../../../assets/icons/eye.svg') 0 0 no-repeat;
  cursor: pointer;
}

.noEye {
  position: absolute;
  z-index: 100;
  top: 11px;
  left: 12px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../../../../assets/icons/no-eye.svg') 0 0 no-repeat;
  cursor: pointer;
}
