#root {
  display: block;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main {
  border-radius: 10px;
  text-align: center;
}

body {
  font-family: 'Overpass', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.content {
  min-height: 70vh;
  padding: 2rem;
  background-color: $white-color;
  overflow: hidden;
}

.active {
  color: #247c52;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: min(5vh, 1.5em);
}

h3 {
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;
}

h4 {
  font-size: 1.5em;
  font-weight: 700;
}