#root {
  display: block;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main {
  border-radius: 10px;
  text-align: center;
}

body {
  font-family: 'Overpass', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.content {
  min-height: 70vh;
  padding: 2em;
  background-color: $white-color;
  overflow: hidden;

  @media (max-width: 1280px) {
    & {
      padding: 1.5em;
    }
  }

  @media (max-width: 768px) {
    & {
      padding: 1em;
    }
  }
}

.active {
  color: #247c52;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: min(5vh, 1.5em);

  @media (max-width: 1280px) {
    & {
      font-size: 2rem;
      margin-bottom: 1em;
    }
  }

  @media (max-width: 768px) {
    & {
      font-size: 1.7rem;
      margin-bottom: 0.8em;
    }
  }
}

h3 {
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;

  @media (max-width: 1280px) {
    & {
      font-size: 1.2rem;
      margin-bottom: 0.8em;
    }
  }

  @media (max-width: 768px) {
    & {
      font-size: 1rem;
      margin-bottom: 0.6em;
    }
  }
}

h4 {
  font-size: 1.5em;
  font-weight: 700;

  @media (max-width: 1280px) {
    & {
      font-size: 1.3rem;
    }
  }

  @media (max-width: 768px) {
    & {
      font-size: 1rem;
    }
  }
}