.catalog-wrapper {
  display: flex;
}

.filters-wrapper {
  width: 30%;
  margin-top: 1em;
}

.catalog-nav {
  display: flex;
  align-items: center;
  margin-left: 4vw;
}

@media screen and (max-width: 400px) {

  .catalog-main {
    max-width: 170px;
    margin-left: auto;
  }


}