.catalog-wrapper {
  display: flex;
}

.filters-wrapper {
  width: 30%;
  margin-top: 1em;
}

.catalog-nav {
  display: flex;
  align-items: center;
  align-items: flex-start;
  margin-left: 4vw;
}

.catalog-main {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

@media screen and (max-width: 400px) {

  .catalog-main {
    max-width: 170px;
    margin-left: auto;
  }


}